
</div>
</div>

<!-- demo code -->
<script src="js/jquery.js"></script>
<script src="js/lodash.js"></script>
<script src="js/angular.js"></script>
<script src="js/d3.js"></script>
<script src="js/demo.js"></script>
<script src="js/DonutChartCtrl.js"></script>
<script src="js/d3.superformula.min.js"></script>


<!-- demos -->
<script src=js/d3-contexts-explained.js></script>
<script src=js/sectorHistogram.js></script>
<script src=experiments/ng-d3.js></script>
<script src=experiments/app.js></script>
<script src=js/collaborationDemo.js></script>
<script src=js/contextsDemo.js></script>

<!-- live coding -->
<script src=js/little-console.js></script>
<script src=js/showConsoles.js></script>

<!-- reveal -->
<script src="reveal/lib/js/head.min.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script src="reveal/js/reveal.js"></script>
<script src="js/revealConfig.js"></script>

</body>
