
</div>
</div>

<!-- demo code -->
<script src="js/jquery.js"></script>
<script src="js/angular.js"></script>
<script src="js/d3.js"></script>
<script src="js/demo.js"></script>
<script src="js/DonutChartCtrl.js"></script>

<!-- reveal -->
<script src="reveal/lib/js/head.min.js"></script>
<script src="reveal/plugin/highlight/highlight.js"></script>
<script src="reveal/js/reveal.min.js"></script>
<script src="js/revealConfig.js"></script>

<!-- live coding -->
<script src=js/little-console.js></script>
<script src=js/showConsoles.js></script>

</body>
