[ng-controller~=DemoCtrl] {
  color: #fff;
}

#resolutionDemo body {
  background: none;
  font-family: Helvetica, sans-serif;
  color: #fff;
  text-align: left;
}

#resolutionDemo label {
  font-size: 1.5rem;
  display: block;
  line-height: 0.5rem;
}

#resolutionDemo h3 {
  font-size: 2rem;
  color: #fff;
}

#resolutionDemo .back
, #resolutionDemo .back-x {
  cursor: pointer;
}



#resolutionDemo input[type=text] {
  font-size: 1.25rem;
  width: 100%;
}
