.bad body {
  background: red;
}

.bad body h2 {
  color: #fff;
}

body {
  /* transform is ported from reveal
     need !important to override reveal's styling */
  transition: transform 0.8s ease, background 0.5s !important;
}

.notitle > h2 {
  display: none;
}

.big-list li {
  font-size: 1.25em;
  line-height: 2em;
}

.reveal a.tweet {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-align: right;
  text-decoration: none;
}

.reveal .front a {
  font-size: 5rem;
  color: #000;
}


